{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "0.9.0"}},
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", "v1.4.5"}},
	{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "59199d700f00cf0042f492fcaabbafea82ff124b"}},
	{base64url, ".*", {git, "git://github.com/dvv/base64url.git", "bab9f431693a8888528d5c2db933c6f222c6fd44"}}
]}.
